#logo{
    width:60px;
    cursor: pointer;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: rgb(85, 0, 71);
    padding-left: 10%;
    padding-right: 10%;
}
.headerText{
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}